.center-tab {
    margin-left: auto;
    margin-right: auto;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.center-go {
    justify-content: center;
    align-items: center;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s linear;
    }

        .column img:hover {
            filter: grayscale(0);
        }

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

        .column img {
            filter: grayscale(0) brightness(1);
        }
}


.carousel {
    max-height: 850px;
    overflow: hidden;
}
    .carousel-caption
    {
    max-width: 100%;
    width: 100%;
    left: 0;
    margin-bottom: 250px;
}



