.container {
    text-align: center;
  }
  
  .container .h1 {
    padding: 1em 2em;
    color: whitesmoke;
    font-family: sans-serif;
  }
  
 
  
 
  
  .container .lable {
    font-size: 1.5em;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 5em;
  }
  
  .column {
    flex: 25%;
    padding: 0.1em;
  }
  
  .column .img {
    width: 100%;
    display: none;
    border: 2px solid #e5e6e6;
  }